.header {
  position: relative;
  background-color: black;
  display: flex;
  justify-items: center;
  align-items: center;

  justify-content: center;
  align-content: center;
  height: 10em;
}

.welcome-border {
  background-image: linear-gradient(90deg, #375dc3, #709df7, #80d7ff);

  height: 3px;
}

.welcome-msg {
  font-size: 60px;
  transition: all 420ms ease-in-out;
  cursor: pointer;
  width: 350px;
}

.welcome-msg:hover {
  transform: scale(85%);
  background-position: 3ch;
}

.welcome-link {
  color: rgb(163, 154, 154);
  margin-top: 35px;
  margin-left: 5px;
}

.icon {
  margin-right: 8px;
  margin-top: 22px;
  background-color: black;
}
