header {
  background-color: black;
  position: relative;
  width: 100%;
}

.header-msg {
  background-color: black;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: all 420ms ease-in-out;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
}

#easter-egg {
  transition: all 420ms ease-in-out;
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  background-color: black;
  margin-bottom: 20px;
}

.welcome-border {
  background-image: linear-gradient(90deg, #375dc3, #709df7, #80d7ff);
  height: 3px;
}

.welcome-msg {
  font-size: 3.5rem;
  transition: all 420ms ease-in-out;
  cursor: pointer;
  width: 350px;
  margin: 0;
  padding: 0;

  @media (max-width: 500px) {
    font-size: 3rem;
  }
}

.welcome-msg:hover {
  background-position: 3ch;
}

.header-msg:hover {
  transform: scale(90%);
}

.header-msg:hover + #easter-egg {
  transform: translateY(-55%);
  color: #80d7ff;
}

.welcome-link {
  color: rgb(163, 154, 154);
  margin-top: 35px;
  margin-left: 5px;
}

.icon {
  margin-right: 8px;
  margin-top: 1.3rem;
  background-color: black;
  cursor: pointer;
}

#gopher {
  position: absolute;
  right: 15%;
  bottom: 0;
  z-index: 2;
  width: 5rem;
  opacity: 1;
  background-color: black;
  transition: all 200ms ease-in-out;
}

#gopher:hover {
  opacity: 0;
  cursor: pointer;
}
