@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background-color: rgb(80, 78, 78);
}

.header {
  position: relative;
  background-color: black;
  display: flex;
  justify-items: center;
  align-items: center;

  justify-content: center;
  align-content: center;
  height: 10em;
}

.welcome-msg {
  background-image: linear-gradient(90deg, #3c65d8, #709df7, #7ed4fd);
  background-clip: text;
  --webkit-background-clip: text;

  color: transparent;

  font-family: "Pacifico", cursive;
  margin: 0;
  display: flex;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  max-width: 650px;
}

.welcome-link {
  color: rgb(163, 154, 154);
  margin-top: 35px;
  margin-left: 5px;
}

.welcome-style-left {
  left: 0;
  position: absolute;
  color: #ffffff;
  height: 10em;
  width: 10em;
  background-color: #000000;
  transform: rotate(45deg);
  transform-origin: left;
}

.welcome-style-right {
  transform: rotate(45deg);
  transform-origin: right;
  right: 0;
  position: absolute;
  height: 10em;
  width: 10em;
  background-color: #ffffff;
}
